.top-section { grid-area: topsection; }
.bottom-section { grid-area: bottomsection; }
.bottomsub1 { grid-area: bottomsub1; }
.bottomsub2 { grid-area: bottomsub2; }
#card  { grid-area: card; }


.container{
    margin: auto;
  display: grid;
  grid-template-areas:
    'topsection topsection topsection topsection topsection topsection'
    'bottomsection bottomsection bottomsection bottomsection  bottomsection bottomsection';
  background-color: whitesmoke;

  padding: 10px;
  width: 1050px;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-template-rows: 180px 520px;
}

.top-section{
    background-color:white;
}

.bottom-section{
    background:
        linear-gradient(to left, rgba(42,43,151,255), transparent),
        linear-gradient(to right, rgba(232,27,110,255), transparent);
    width: 100%;
    display: grid;
    
    grid-template-areas: 
    'bottomsub1 bottomsub1 bottomsub1 bottomsub2 bottomsub2 bottomsub2 ';
}

.bottomsub1{
    grid-template-areas: 
    'bottomsub1 bottomsub1 bottomsub1';
    background-color:transparent;
    padding: 10px; 
}

.buttomsub2{
    grid-template-areas: 
    'bottomsub2 bottomsub2 bottomsub2';
    background-color:transparent;
    padding: 10px; 
}

#form{
    padding: 70px 30px 30px 40px;
    margin: auto;
    
}

#input{
    padding: 10px;
    background-color:transparent;
    border: none;
    text-decoration: white;
    border-bottom:  2px solid  white;
    width: 100%;
}

::placeholder{
    color: white;
    opacity: 50%;
    width: 100%;
}

li{
    display: inline-block;
    width: 100%;
    margin: 15px;
    color: azure;
}

textarea{
    resize: none;
    height: 85px;  
}


#button{
    display: block;
    margin-left: 20px;
    margin-right: auto;
    height: 35px;
    color:darkorchid;
    font-weight:bolder;
    border-radius: 25px;
    width: 100%;
    border:none;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#information-text{
    padding: 80px 50px 30px 50px;
    margin: auto; 
    color: rgb(255, 255, 255);
}
#information-text h1{
    font-weight:100;
    font-size:35px;
}

#information-text h4{
    font-weight: bold;
}

#information-text p{ 
    opacity: 75%;
}

#social-links img{
    width: 24px;
    height: 24px;
    margin: 10px;
}

#whole{
    padding: 10px;
    margin: 10px;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-areas: 'card card card card';
}

#cards{
    
    margin: 10px;
    background-color:white ;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 220px;
    height: 220px;
    border-radius: 15px;
    text-align: center;
    
}

#cards img{
    padding: 20px 20px 0px 20px;
    display: block;
    margin:auto;
    width: 50px;
    height: 50px;
}


@media only screen and (max-width:700px){
    .container{
        grid-template-areas:
    'topsection topsection topsection topsection '
    'bottomsection bottomsection bottomsection bottomsection';
    grid-template-rows: 180px 1040px; 
    
    }
    .bottom-section{
     grid-template-areas: 
     'bottomsub1  bottomsub1 '
     'bottomsub2  bottomsub2 ';
    }

    #cards{
        width: 175px;
        height: 175px;
        border-radius: 15px;
        text-align: center;  
    }

    #cards img{
        display: block;
        margin:auto;
        width: 30px;
        height: 30px;
    }

  
}
@media only screen and (max-width:500px){
    .container{
        width: 520px;
        grid-template-areas:
        'topsection '
        'bottomsection ';
        grid-template-rows: 180px 1200px;
    }
    .bottom-section{
     grid-template-areas: 
     'card'
     'bottomsub1 ' 
     'bottomsub2 ';
     grid-template-rows: 200px 500px 500px;
    }
    
    #whole{
        justify-content:center;
        grid-template-areas: 'card card';
    }

    #cards{
        width: 175px;
        height: 175px;
        border-radius: 15px;
        text-align: center;  
    }

    #cards img{
        display: block;
        width: 30px;
        height: 30px;
    }

}

